*{
    box-sizing: border-box;
}

.card img{
    height: 200px;
    width: 200px;
}

.cardRow{
    width: 100%;
    margin: 0 5px;
    margin-left: 300px;
}

.cardCol{
    width: 20%;
    float: left;
    padding: 15px;
    display: grid;
}

.card{
    background-color: white;
    padding: 20px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 2);
}

.card:hover{
    background-color: #cae3ac;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 2);
}

body{
    margin-left: 390px;
    /* overflow-x: hidden; */
    width: 100vw;
    height: 100vh;
    max-width: 10%;
}